# Spotipy Wrapped

In [ ]:
from search import search
from content import content_rec
# from collab import collab_rec
# from hybrid import hybrid_rec

In [2]:
search = search()

In [3]:
rec_system = content_rec()

In [4]:
search.search_by_song_and_artist("Misty", "Ella Fitzgerald")

,name,artists,album,id
625456,Misty,['Ella Fitzgerald'],Live At Chautauqua Vol. 2,2gTpG4Rppk0FRnDQBRBrYi

In [5]:
search.search_by_song_and_artist("Vienna", "Billy Joel")

,name,artists,album,id
329616,Vienna,['Billy Joel'],The Stranger,7gREIuHognJFspylIDJ94p
495255,Vienna,['Billy Joel'],The Stranger (Legacy Edition),4U45aEWtQhrm8A5mxPaFZ7
506170,"Vienna - Live at Madison Square Garden, New Yo...",['Billy Joel'],12 Gardens Live,3MTC17XzkN2SlreuIzA4e1

In [6]:
search.search_by_song_and_artist("Don't Stop Me Now", "Queen")

,name,artists,album,id
1123666,Don't Stop Me Now - 2011 Remaster,['Queen'],Animal Crackers (Original Motion Picture Sound...,1Vdn6Ll4Je52FR1yF8ciKk

In [7]:
rec_system.recommend(['7gREIuHognJFspylIDJ94p','2gTpG4Rppk0FRnDQBRBrYi', '1Vdn6Ll4Je52FR1yF8ciKk'])

,name,artists,album,release_date
464071,It Don't Mean A Thing If It Ain't Got That Swing,['Eight To The Bar'],The Joint Is Jumpin'!,1983
237572,Dzien Sie Budzi,['Basia'],Basia On Broadway,1995-10-31
464066,I Wanna Rock,['Eight To The Bar'],The Joint Is Jumpin'!,1983
864919,Gettin' Ready Rag,"['Brian Stokes Mitchell', 'Ragtime Ensemble']",Ragtime: The Musical (Original Broadway Cast R...,1998
334516,Christmas in My Mobile Home (feat. David Nehls...,"['The Off Broadway Cast Of ""The Great American...","Broadway's Greatest Gifts: Carols for a Cure, ...",2005-10-21
1180280,Prefixo de Verão,['Daniela Mercury'],Balé Mulato Ao Vivo,2006
237571,Until You Come Back to Me (That's What I'm Gon...,['Basia'],Basia On Broadway,1995-10-31
318815,I Will Go In Jesus Name (Reprise),['Hezekiah Walker'],Live In Atlanta,1994
582515,Du schwarzer Afghane - Live,['Wolfgang Ambros'],Hoffnungslos Selbstbewußt,2002-06-03
5451,Dos Colores: Blanco Y Negro,"['Víctor Manuel', 'Pablo Milanés']",En Blanco y Negro,1995-08-31